<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>net.sixfivezero.BKCameraController</string>
	<key>CFBundleName</key>
	<string>BKCameraController Documentation</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	
	
	
	
	<key>DocSetFeedName</key>
	<string>BKCameraController Documentation</string>
	
	<key>DocSetMinimumXcodeVersion</key>
	<string>3.0</string>
	<key>DocSetPlatformFamily</key>
	<string>iphoneos</string>
	<key>DashDocSetFamily</key>
	<string>appledoc</string>
	<key>DocSetPublisherIdentifier</key>
	<string>net.sixfivezero.documentation</string>
	<key>DocSetPublisherName</key>
	<string>650 Industries, Inc.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 650 Industries, Inc.. All rights reserved.</string>
</dict>
</plist>
